# File Types 	  #
###################
*.txt
*.bin
*.lock

# Folders 	  #
###################
/*/nb-configuration.xml
/nbproject/
/*/nbproject/
/*/target/
/*/build/
/netbeans-gradle-javaee-models/gradle-api/
/.gradle/
/.nb-gradle-properties
/.nb-gradle/